<!DOCTYPE html>
<html>
	<head profile="http://www.w3.org/2005/10/profile">
		<meta charset="utf-8">
		<link rel="stylesheet" href="./css/style.css">
		<title>{{.Title}}</title>

		<link rel="icon" 
		      type="image/png" 
		      href="https://i.imgur.com/BePVFjT.png">
	</head>
	<body>
		<main>
		<details>
			<summary>{{.Title}}</summary>
			<p>{{.Description}}</p>
		</details>
		<ul>
			{{range $index, $page := .Pages}}
			<li>
				<time>{{ $page.BirthTime.Format "January 2" }}</time>
				<a href="{{$page.RelativeLink}}">{{ $page.Title }}</a>
			</li>
			{{else}}<li>No posts.</li>{{end}}
		</ul>
		</main>
	</body>
</html>