<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="./css/style.css">
		<title>{{.Title}}</title>
	</head>
	<body>
		<main>
		<a href=".">Index</a>
		<h1 class="title">{{.Title}}</h1>
		<section>
			<ul>
				<li><time>{{.BirthTime.Format "January 2, 2006"}}</time></li>
				<li>Readability: <span id="readability"></span></li>
			</ul>
		</section>
		<article>
			{{template "post_content" .}}
		</article>
		<footer>
		{{if .Next}}
			<a href="{{.Next.RelativeLink}}">Next Post</a>
		{{end}}
		</footer>
		</main>
	</body>
</html>